<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_car.css') }}">
    <title>New Car</title>
</head>
<body>
    <header>
        <h1 class="principal_title">Put Car Up For Sale</h2>
        <div>
            <a class="classicBtn" href="/dashboard">Dashboard</a>
            <a class="classicBtn" href={{"/users/" + user.id|string}}>Purchases</a>
            <form action="/logout" method="post"><input class="classicBtn" type="submit" value="Logout"></form>
        </div>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="errors_container">
                    {% for message in messages %}
                        <p>- {{message}}</p>
                    {% endfor %}
                </div>                    
            {% endif %}
        {% endwith %}
        <form action="/new/process" method="post">
            <label for="price">Price:</label>
            <input type="number" placeholder="0" name="price" id="price">

            <label for="model">Model:</label>
            <input type="text" name="model" id="model">
            
            <label for="make">Make:</label>
            <input type="text" name="make" id="make">

            <label for="year">Year:</label>
            <input type="number" placeholder="0" name="year" id="year">

            <label for="description">Description:</label>
            <textarea name="description" id="description" cols="60" rows="4"></textarea>

            <input class="classicBtn" type="submit" value="Add">
        </form>
    </main>
</body>
</html>