h1, h2, p{
    margin: 0;
}


*{
    box-sizing: border-box;
}


body{
    margin: 0;
    min-height: 100vh;
    padding: 2.5rem 5rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(22, 22, 22);
    color: white;
}


header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    height: 9.5vh;
}
header h2{
    font-size: 2.25rem;
}
header div{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


main{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.principal_title{
    font-size: 2.85rem;
    color: gold;
    margin-bottom: 1rem;
}
main .table{
    width: 60vw;
    align-self: center;
}
main .table th, main .table td{
    text-align: center;
}

footer{
    text-align: end;
}

.classicBtn{
    cursor: pointer;
    border: none;
    padding: 0.35rem 0.75rem;
    font-size: 1.15rem;
    font-weight: 600;
    color: white;
    background-color: rgb(37, 37, 255);
    box-shadow: 3px 4px 0 0 black;
    width: initial;
    text-decoration: none;
}
.classicBtn:hover{
    color: initial;
}
.action_container{
    display: flex;
    /* justify-content: space-between; */
    gap: 0.5rem;
    justify-content: center;
}
.a_tag{
    color: #0d6efd;
    background: none;
    border: none;
    outline: none;
    text-decoration: underline;
}
